<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PlatformBaseUrl" value="http://localhost:5100" />
    <add key="PlatformApiKey" value="candidate-test-key-2026" />
    <add key="DatabaseConnectionString" value="Server=localhost,1433;Database=AdventureWorks2025;User Id=sa;Password=Admin1234!;TrustServerCertificate=true;" />
    <add key="PollingIntervalSeconds" value="5" />
  </appSettings>
</configuration>
